<section class="about-page">
  <div class="container">
    <div class="row about">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="title">Who am I?</div>
        <div class="content">
          I'm Dinesh Padisetti. I'm a Web Developer. You can find more about me on my <a href="https://dinnu93.github.io/">personal website</a>
        </div>
        <br><br>
        <div class="title">What do I do?</div>
        <div class="content">
          <ul>
            <li>I'll make your ideas come to life :) </li>
            <li>I'll make a web application for your product.</li> 
            <li>I'll launch the product for you.</li>
            <li>I'll maintain that product for you.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>