<section class="contact-page">
  <div class="container">
    <div class="row contact">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="title">
          <u>Contact</u>
        </div>
        <div class="content">
          <u>Email:</u> dinesh.padisetti@gmail.com
          <br><br>
          <u>Phone:</u> +91-9176153703 
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>