<section class="portfolio-page">
  <div class="container">
    <div class="row portfolio">
      <div class="col-md-2"></div>
      <div class="col-md-8 content">
        <div class="title">
          <u>Portfolio</u>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="https://stockviews.com/">
              <img src="/assets/stockviews.png" class="thumbnail">
            </a>
            <div class="content">
              <a href="https://stockviews.com/">Stockviews</a>
            </div>
          </div>
          
          <div class="col-md-6">
            <a href="http://monksandbots.com/">
              <img src="/assets/monksandbots.png" class="thumbnail">
            </a>
            <div class="content">
              <a href="http://monksandbots.com/">Monks &amp; Bots</a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>